<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="container h-screen bg-white">
    <div class=" flex text-indigo-700 text-3xl border-b border-solid border-gray-500 justify-around py-6">
      <div class="w-11"></div>
      <h1 class="font-bold text-center leading-none">Modify <br> your profile</h1>
      <%= f.button :submit, "Save", class:"text-xl w-11 flex items-center bg-white" %>
      <%#= link_to "Save", user_registration_path, class:"text-xl w-10 flex items-center" %>
    </div>

    <%= f.error_notification %>

    <div class="form-inputs flex flex-col items-center">

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :email,
                  required: false, autofocus: true,
                  input_html: {class: "bg-gray-300 w-56 mt-20 mb-4 py-2 px-4 rounded-md text-gray-500"},
                  label: false  %>
      <%= f.input :last_name,
                  required: false,
                  input_html: {class: "bg-gray-300 w-56 my-3 py-2 px-4 rounded-md text-gray-500"},
                  label: false %>
      <%= f.input :first_name,
                  required: false,
                  input_html: {class: "bg-gray-300 w-56 my-3 py-2 px-4 rounded-md text-gray-500"},
                  label: false %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "new-password", class: "bg-gray-300 w-56 my-3 py-2 px-4 rounded-md" },
                  label: false,
                  placeholder: "password" %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password", class: "bg-gray-300 w-56 my-3 py-2 px-4 rounded-md" },
                  label: false,
                  placeholder: "confirmation" %>
      <%= f.input :current_password,
                  required: true,
                  input_html: { autocomplete: "current-password", class: "bg-gray-300 w-56 my-3 py-2 px-4 rounded-md" },
                  label: false,
                  placeholder: "current-password" %>
    </div>

    <div class="form-actions">

    </div>
    <%= link_to "Log out", destroy_user_session_path, :method => :delete, class:"flex justify-center text-indigo-700 text-xl mt-8" %>
  </div>
<% end %>

<%= render "pages/shared/tabbar" %>








