<div class="flex flex-col items-center my-6">
  <h1 class="text-gray-800 font-semibold text-3xl">Your <span class="text-indigo-700">30 days</span></h1>
</div>

<div class="">
  <div class="flex flex-col items-center">
    <div class="flex">
      <% 7.times do |i| %>
        <div class="flex justify-center items-center w-10 h-10 bg-indigo-700 text-white font-bold p-2 m-1 rounded shadow-md calendar-day" data-num-cig="<%=current_user.program.cigarette_allowed_for(current_user.program.start_time + (i+1))%>"><%= i+1 %></div>
      <% end %>
    </div>
    <div class="flex">
      <% 7.times do |i| %>
        <div class="flex justify-center items-center w-10 h-10 bg-indigo-700 text-white font-bold p-2 m-1 rounded shadow-md calendar-day" data-num-cig="<%=current_user.program.cigarette_allowed_for(current_user.program.start_time + (i+8))%>"><%= i+8 %></div>
      <% end %>
    </div>
    <div class="flex">
      <% 7.times do |i| %>
        <div class="flex justify-center items-center w-10 h-10 bg-indigo-700 text-white font-bold p-2 m-1 rounded shadow-md calendar-day" data-num-cig="<%=current_user.program.cigarette_allowed_for(current_user.program.start_time + (i+15))%>"><%= i+15 %></div>
      <% end %>
    </div>
    <div class="flex">
      <% 7.times do |i| %>
        <div class="flex justify-center items-center w-10 h-10 bg-indigo-700 text-white font-bold p-2 m-1 rounded shadow-md calendar-day" data-num-cig="<%=current_user.program.cigarette_allowed_for(current_user.program.start_time + (i+22))%>"><%= i+22 %></div>
      <% end %>
    </div>
  </div>
  <div class="flex flex-col items-center justify-center ml-2 px-2">
    <div class="flex justify-center">
      <% 2.times do |i| %>
        <div class="flex justify-center items-center w-10 h-10 bg-indigo-700 text-white font-bold p-2 mr-2 mt-1 rounded shadow-md calendar-day" data-num-cig="<%=current_user.program.cigarette_allowed_for(current_user.program.start_time + (i+29))%>"><%= i+29 %></div>
      <% end %>
      <% 5.times do %>
        <div class="w-12"></div>
      <% end %>
    </div>
  </div>
</div>

<div class="flex justify-center">
  <h2 id="daily-cigs" class="mt-5 text-gray-800 font-semibold text-md h-64">Touch a date to see your program</h2>
</div>

<div class="flex justify-center">
  <%= link_to "Start", daily_program_path, class:"w-8/12 h-16 flex justify-center items-center shadow-md bg-blue-800 uppercase text-white focus:bg-blue-900 font-bold mb-10 px-20 rounded-md" %>
</div>

<%= render "/pages/shared/tabbar" %>
<div class="flex justify-center mt-32 pt-1">
  <div class="w-24 flex justify-between">
      <i class="far fa-circle"></i>
      <i class="far fa-circle"></i>
      <i class="fas fa-circle"></i>
  </div>
</div>
