<h1>Tutorial page</h1>

<%= link_to "let's go", prepwork_path %>



<div class="container mx-auto bg-indigo-700 h-screen flex flex-col justify-center items-center text-white">
  <div class="flex justify-center items-center py-20">
    <h1 class="text-3xl font-bold"> <span class="text-5xl">H O W ?</span></h1>
  </div>
  <div class="bg-white">
    <a href="#" aria-label="Home">
        <%= image_tag "coda.png", alt: "alttext", class: 'h-16 w-16 object-cover rounded-full' %>
      </a></div>
  <a href="#" aria-label="Home">
        <%= image_tag "load.png", alt: "alttext", class: 'h-16 w-16 object-cover rounded-full' %>
      </a>

      <a href="#" aria-label="Home">
        <%= image_tag "press.png", alt: "alttext", class: 'h-16 w-16 object-cover rounded-full' %>
      </a>

      <a href="#" aria-label="Home">
        <%= image_tag "smoke.png", alt: "alttext", class: 'h-16 w-16 object-cover rounded-full' %>
      </a>

      <a href="#" aria-label="Home">
        <%= image_tag "touch.png", alt: "alttext", class: 'h-16 w-16 object-cover rounded-full' %>
      </a>

</div>







