<div class="container mx-auto bg-indigo-700 h-screen flex flex-col justify-center items-center text-white">
  <h1 class="text-3xl font-bold mb-20"> <span class="text-5xl">H O W ?</span></h1>

  <div class="flex flex-col">
    <div class="flex items-center mb-4" href="#" aria-label="Home">
      <%= image_tag "coda.png", alt: "alttext", class: 'h-16 w-16 mr-4  object-cover rounded-full' %>
      <p class="font-sans  "><strong class="text-xl ">Collect</strong> your data</p>
    </div>


    <a class="flex items-center mb-4 " href="#" aria-label="Home">
      <%= image_tag "load.png", alt: "alttext", class: 'h-16 w-16 mr-4  object-cover rounded-full' %>
      <p class="font-sans "><strong class="text-xl "><p>Load</strong> your Buddy</p>
    </a>

    <a class="flex items-center mb-4 " href="#" aria-label="Home">
      <%= image_tag "press.png", alt: "alttext", class: 'h-16 w-16 mr-4  object-cover rounded-full' %>
      <p class="font-sans "><strong class="text-xl "><p>Press</strong> button <br>Everytime you smoke</p>
    </a>

    <a class="flex items-center mb-4 " href="#" aria-label="Home">
      <%= image_tag "smoke.png", alt: "alttext", class: 'h-16 w-16 mr-4  object-cover rounded-full' %>
      <p class="font-sans "><strong class="text-xl "><p>Smoke</strong> as usual</p>
    </a>

    <a class="flex items-center mb-4 " href="#" aria-label="Home">
      <%= image_tag "touch.png", alt: "alttext", class: 'h-16 w-16 mr-4   object-cover rounded-full' %>
      <p class="font-sans  "><p>Get in<strong class="text-xl ">Touch</strong><br> in one week</p>
    </a>
  </div>
  <%= link_to "CONTINUE", prepwork_results_path, class:"w-8/12 h-16 flex justify-center items-center shadow-md bg-blue-800 uppercase text-white focus:bg-blue-900 font-bold mb-10 px-20 rounded-full" %>
  <div class="w-24 flex justify-between mt-32">
    <i class="fas fa-circle"></i>
    <i class="far fa-circle"></i>
    <i class="far fa-circle"></i>
  </div>
</div>
