<div class="container flex flex-col h-screen overflow-auto bg-gray-200">
  <div class="flex flex-col items-center flex-grow">
    <h2 class="text-indigo-700 text-2xl py-24">Sign in</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs w-screen">
        <div class="bg-gray-300 py-3 px-6 mb-3 mx-6 rounded-md flex items-center">
          <i class="far fa-envelope text-gray-500"></i>
          <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", class: "ml-6 bg-gray-300 w-56"},
                label: false,
                placeholder: "Email" %>
        </div>
        <div class="bg-gray-300 py-3 px-6 mb-3 mx-6 rounded-md flex items-center">
          <i class="fas fa-unlock text-gray-500"></i>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password", class: "ml-6 bg-gray-300 w-56"},
                      label: false,
                      placeholder: "Password" %>
        </div>
      </div>

      <div class="form-actions text-center">
        <%= f.button :submit, "SIGN IN", class: "shadow-md mt-20 py-3 px-16 bg-indigo-700 rounded-md text-white text-xs font-semibold" %>
      </div>
    <% end %>

  </div>
  <div class="flex flex-col items-center mb-4">
    <%= link_to "CREATE ACCOUNT", new_user_registration_path, class: "text-gray-500 text-base font-semibold" %>
  </div>
</div>
