<!DOCTYPE html>
<html>
  <head>
    <title>iBreath</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="manifest" href="/manifest.json">
    <meta property="og:url"         content="https://www.ibreath.io" />
    <meta property="og:title"       content="iBreath : Quit smoking in one month." />
    <meta property="og:image"       content="https://www.loicmalacari.fr/wp-content/uploads/2019/07/stop-Smoking.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable"  content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="app-mobile-web-app-title"  content="iBreath">
    <meta name="app-mobile-web-app-status-bar-style"  content="#4C51C0">
    <link rel="apple-touch-icon" href="<%= image_path 'icons/circlegreen.png' %>" sizes="192x192">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
