<!DOCTYPE html>
<html>
  <head>
    <title>iBreath</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:url"         content="https://www.ibreath.io" />
    <meta property="og:type"        content="article" />
    <meta property="og:title"       content="iBreath : Quit smoking in one month." />
    <meta property="og:description" content="The solution to smoothly quit smoking" />
    <meta property="og:image"       content="https://www.loicmalacari.fr/wp-content/uploads/2019/07/stop-Smoking.jpg" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
